<header>

  <nav class="navbar">
    <div class="header-image">
      <!-- <a class="navbar__logo" routerLink="/"><img src="/assets/imagens/mxm.jpeg" alt="Logo"></a> -->

    </div>
    <div class="navbar__center">
      <ul class="navbar__menu">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">CONSULTA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="agenda/">AGENDA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="paciente/">PACIENTE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="dentista/">DENTISTA</a>
        </li>
      </ul>
    </div>
    <div class="navbar__right">
      <form class="search" action="#">
        <input name="termo" value="" class="form-control mr-sm-2" type="search" placeholder="Pesquisar"
          aria-label="Search">
      </form>
    </div>
    <a class="link-logout" href="#">SAIR</a>
  </nav>
</header>
<router-outlet></router-outlet>