<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/fontawesome.min.css"
        integrity="sha512-P9vJUXK+LyvAzj8otTOKzdfF1F3UYVl13+F8Fof8/2QNb8Twd6Vb+VD52I7+87tex9UXxnzPgWA3rH96RExA7A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/brands.min.css"
        integrity="sha512-sVSECYdnRMezwuq5uAjKQJEcu2wybeAPjU4VJQ9pCRcCY4pIpIw4YMHIOQ0CypfwHRvdSPbH++dA3O4Hihm/LQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/solid.min.css"
        integrity="sha512-tk4nGrLxft4l30r9ETuejLU0a3d7LwMzj0eXjzc16JQj+5U1IeVoCuGLObRDc3+eQMUcEQY1RIDPGvuA7SNQ2w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'imagem/logo_titulo.ico' %}">
    <title>{% block titulo %}{% endblock titulo %} | OrtoEndo</title>
</head>

<body>
    <main class="main-content-container">
        <div class="main-content main-content-list container">
            <div class="app">
                <div class="app-data">
                    <h2>Registrar Agenda</h2>
                    <br>
                    <form [formGroup]="formulario">
                        <div class="form-content form-content-grid">
                            <div class="form-group">
                                <label for="">Data:</label>
                                <input type="date" formControlName="data" class="form-control">

                                <label for="">Hora:</label>
                                <input type="time" formControlName="hora" class="form-control">

                                <label for="">Id do Dentista:</label>
                                <input type="number" formControlName="dentistaId" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Enviar" class="botao" (click)="cadastrar()">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- {% include 'partials/_pagination.html' %} -->
    </main>
    <footer class="main-footer">
        <div class="developer">
            <a href="#" target="_blank" rel="noreferrer noopener">By Wanderson Duarte</a>
        </div>

        <div class="powered">
            <a href="https://www.djangoproject.com/" target="_blank" rel="noreferrer noopener">Powered by Django</a>
        </div>
    </footer>
</body>

</html>